body {
	background-color: #FFF;
	font-family: Arial;
	text-align: center;
}

.Galeria {
	display: flex;
	flex-direction: row;
}

.fotos {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 5px;

}

.fotos img {
	border: 1px solid black;
	height: auto;
	padding-bottom: 5px;
	padding-top: 20px;
}
